

$btn-color: #FEBF32;
$btn-font-size: 1rem;
$btn-icon-size: 2rem;

button{
    //sizing
    padding: 0.3rem 1rem;
    
    //styling
    border: none;
    border-radius: 0.3em;
    outline: none;
    background: $btn-color;

    //font
    font-family: inherit;
    font-size: $btn-font-size;
    font-weight: bold;
    text-transform: uppercase;

    //align
    div{
        width: 50%;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    //icon
    i{
        font-size: $btn-icon-size;
        border: none;
        outline: none;
    }

    //animation
    transition: all 0.1s ease;
    &:hover{
        transform: translateY(-0.15rem);
        box-shadow: 0 0.15rem 0 #ad7600;
    }
    &:active{
        transform: translateY(0);
        box-shadow: none;
    }   
}

.icon-button{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    justify-content: center;

    div{
        justify-content: center;
    }
    i{
        margin: 0;
        border-radius: 50%;
        font-size: 2rem;
    }
}