

.notes-grid{
    width: 75%;
    height: fit-content;
    padding: 2rem;
    padding-top: 2.5rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;

    justify-content: center;

    >button{
        margin: 1.5rem auto;
    }
    >h3{
        margin: auto;
        color: white;
    }
}
.note{
    background: white;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 0.2rem;

    border-radius: 0.25rem;
    p{

    }
    h3{

    }
    textarea{
        width: 100%;
        min-height: 3rem;
        resize: none;
    }

    .btn-row{
        width: 100%;
        margin-top: 1rem;

        display: flex;
        justify-content: flex-end;

        button{
            width: 2rem;
            height: 2rem;
            
            margin-right: 0.5rem;
            &:last-of-type{
                margin: 0;
            }

            i{
                font-size: 1.3rem;
            }
        }
    }
}